<mat-toolbar class="header">
  <div class="nav-content">
    <div>
      <a class="col-12" routerLink="/">
        <img class="logo" src="assets/img/logo.png" alt="logo">
      </a>
    </div>

    <div class="nav-item">
      <a class="col-12 label-orange link" href="login">Acesse sua conta</a>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="label-orange">search</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="label-orange">menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
