.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.content h1 {
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 30px;
  color: #555;
}

.content p {
  font-size: 17px;
}

.btn-conta {
  border: 30px;
  border-radius: 45px;
  color: #fff;
  font-size: 18px;
  width: 17%;
  padding: 11px;
  margin: 20px;
}

.container-botao {
  display: flex;
  justify-content: center;
  padding: 0 25px 25px 0;
}
