h2 {
  color: #555;
  margin: 30px;
  font-weight: bold;
}

.btn-form {
  border: 30px;
  border-radius: 45px;
  color: #fff;
  font-size: 18px;
  width: 17%;
  padding: 11px;
}

.container-botao {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px 25px 0;
}

.btn-upload {
  background-color: #fff;
  color: #FF6300;
  border: 1px solid #FF6300;
  border-radius: 10px;
  width: 30%;
  margin-left: 0;
}

mat-icon {
  margin-right: 10px;
}
